@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}


<div class="text-center"> <h1>Available books</h1></div>

<div class="container d-flex flex-wrap justify-content-center">



    @foreach(var item in Model){
        <div class="card m-3" style="width: 18rem;">
            <img src="~/img/book2.jpg" class="card-img-top" alt="Book Cover Image">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
            
                <p class="card-text">
                    <a asp-controller="Author" asp-action="Details" asp-route-id="@item.AuthorId"
                   class="">@item.Author.Name</a>
                   </p>
                
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id"
               class="btn btn-primary"> Details</a>

                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id"
                   class="btn btn-primary"> Add to cart</a>

          

            
            </div>
           
        </div>
    }


</div>


